@charset 'utf-8';

$prefix: 'dt'; // 变量前缀
$bgColor: #EEF5F9; // 定义CSS变量
$whiteColor: #fff; //白色
$fontColor: #333; // 网站字体颜色
$height54: 54px;
$width1: 1400px; //页面一级宽度

.first-page-w{
	width: $width1
}